/* :root {
    --primaryColor: hsl(199, 100%, 33%);
    --SecondaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 235);
    --cardHover: rgb(225, 225, 235);
} */

body {
    overflow-x: hidden; 
}

.main {
    width: 20%;
}

.card {
    height: 180px;
    width: 100%;
    overflow: hidden;
    margin-top: 40px;
    margin-left: 50px;

    img {
        object-fit: cover;
        transition: 2s ease;
    }

    &:hover {
        img {
            transform: scale(1.1);
        }
    }
}

.secTitle {
    margin-top: 300px;
    .title {
        position: relative;
        width: max-content;
        color: var(--textColor);
        margin: 1.5rem 0;
        z-index: 2;
        font-weight: bold;

        &::after {
            position: absolute;
            content: '';
            background: var(--SecondaryColor);
            height: 5px;
            width: 150px;
            right: 0;
            bottom: 5px;
            z-index: -1;
        }
    }
}

.secTitle {
    /* margin-top: 30px; */
    margin-left: 70px;
}

.first {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;

    &:hover {
        box-shadow: 1 4px 4px var(--first-box-shadow);
    }
}

.card-body {
    background: var(--inputColor);
}

.card-title {
    color: var(--blackColor);
    font-size: 1.25rem;
}

.continent {
    gap: .5rem;
}

.icon {
    color: var(--textColor);
    font-size: 18px;
}

.fees {
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem 0;
    border-top: 1.5px solid var(--greyText);
    border-bottom: 1.5px solid var(--greyText);
}

.grade {
    color: var(--textColor);
    max-width: 100px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

small {
    text-align: center;
    background: var(--gradientColor);
    border-radius: 1rem;
    color: var(--whiteColor);
    padding: 2px 9px;
    font-size: 10px;
    margin-left: 2px;
}

.price h5 {
    font-size: 1.5rem;
    color: var(--blackColor);
}

.card-text {
    font-size: 13.5px;
    color: var(--textColor);
    font-weight: 500;
}

.btn-1 {
    padding: .6rem 1.5rem;
    background: var(--gradientColor);
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--whiteColor);
    font-weight: 500;
    justify-content: space-around;
    gap: .5rem;
    margin-left: 50px;

    .icon {
        align-self: center;
        font-size: 19px;
        color: var(--whiteColor);
    }
}

.btn-1:hover {
    background: var(--SecondaryColor);
}

@media screen and (min-width: 500px) {
    .title {
        font-size: 1.5rem;

        &::after {
            width: 128px !important;
        }
    }

    .secContent {
        grid-template-columns: repeat(3, 1fr);

        .signleDestination {
            height: auto;
        }
    }
}
