/* Reset Password Style */
.firm .reset-password {
    color: var(--primaryColor);
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: color 0.3s ease;
}

.firm .reset-password::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primaryColor);
    transition: width 0.3s ease;
}

.firm .reset-password:hover::before {
    width: 100%;
}

.firm .reset-password:hover {
    color: var(--firm-hover-color);
}

