/* :root{
    --primaryColor: hsl(199, 100%, 33%);
    --SecondaryColor: hsl(187,85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%,43%),hsl(199,100%, 33%));
    --whiteColor:hsl(0,0%,100%);
    --blackColor:hsl(201,33%,16%);
    --textColor:hsl(240,4%,36%);
    --whiteColorDeam:hsl(0,0%,93%);
    --greyText:rgb(190,190,190);
    --inputColor:rgb(239,239,239);
    --bodyColor:rgb(240,240,246);
    --cardBG:rgb(225,225,235);
  
  } */

.firm {
    background-color: var(--greyText);
    padding: 20px;
    border-radius: 10px;
    box-shadow:  4 10px var(--firm-box-shadow);
    width: 300px;
    position: absolute;
    z-index: 1000;
    margin-left: 1180px;
    margin-top: 80px;
    display: grid;
   

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

}

.firm-input{
    width: 100%;
    border: 2px solid #afaeae;
    border-radius: 15px;
    padding: 10px;
    outline: none;

}

.firm-title{
    text-decoration: underline var(--blackColor);
}

/* .signup-button  {
    width: 100%;
    padding: 10px;
    background-color: var(--primaryColor);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}
 .signup-button :hover {
    color: var(--SecondaryColor);
}  */

.form-group {
    margin-bottom: 15px;
}

.firm span{
   color: var(--blackColor);
   font-size: large;
   &:hover{
    color: var(--firm-hover-color); 
   
   }
}

.firm p{
    color: var(--blackColor);
    margin-top: 15px;
    font-size: 15px;
}


